/* 기본 스타일 */
*, *::before, *::after {
    box-sizing: border-box;
    
}


/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner{
    width: 940px;
    margin: 0 auto;
}

/* 헤더 */
.header{
    background: pink;
    height: 30vh;
}
.visual{
    background: orange;
    height: 5vh;
}
.main{
    background: yellow;
    height: 50vh;
}
.slogan{
    background: green;
    height: 5vh;
}

.footer{
    background: gray;
}
.footer-inner{
    background: silver;
    height: 10vh;
}